<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IfinderWebApp</title>

    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link href="~/Template3/Bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Template3/Bootstrap/dist/css/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/Template3/Bootstrap/dist/css/bootstrap-reboot.css" rel="stylesheet" />

    <!-- Main Styles CSS -->
    <link href="~/Template3/css/main.min.css" rel="stylesheet" />
    <link href="~/Template3/css/fonts.min.css" rel="stylesheet" />


</head>
<body>

    <!-- Fixed Sidebar Left -->

    <div class="fixed-sidebar">
        <div class="fixed-sidebar-left sidebar--small" id="sidebar-left">

            <a href="02-ProfilePage.html" class="logo">
                <div class="img-wrap">
                    <img src="img/logo.png" alt="Olympus">
                </div>
            </a>

            <div class="mCustomScrollbar" data-mcs-theme="dark">
                <ul class="left-menu">
                    <li>
                        <a href="#" class="js-sidebar-open">
                            <svg class="olymp-menu-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="OPEN MENU"><use xlink:href="svg-icons/sprites/icons.svg#olymp-menu-icon"></use></svg>
                        </a>
                    </li>
                    <li>
                        <a href="03-Newsfeed.html">
                            <svg class="olymp-newsfeed-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="NEWSFEED"><use xlink:href="svg-icons/sprites/icons.svg#olymp-newsfeed-icon"></use></svg>
                        </a>
                    </li>
                    <li>
                        <a href="16-FavPagesFeed.html">
                            <svg class="olymp-star-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="FAV PAGE"><use xlink:href="svg-icons/sprites/icons.svg#olymp-star-icon"></use></svg>
                        </a>
                    </li>
                    <li>
                        <a href="17-FriendGroups.html">
                            <svg class="olymp-happy-faces-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="FRIEND GROUPS"><use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-faces-icon"></use></svg>
                        </a>
                    </li>
                    <li>
                        <a href="18-MusicAndPlaylists.html">
                            <svg class="olymp-headphones-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="MUSIC&PLAYLISTS"><use xlink:href="svg-icons/sprites/icons.svg#olymp-headphones-icon"></use></svg>
                        </a>
                    </li>
                    <li>
                        <a href="19-WeatherWidget.html">
                            <svg class="olymp-weather-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="WEATHER APP"><use xlink:href="svg-icons/sprites/icons.svg#olymp-weather-icon"></use></svg>
                        </a>
                    </li>
                    <li>
                        <a href="20-CalendarAndEvents-MonthlyCalendar.html">
                            <svg class="olymp-calendar-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="CALENDAR AND EVENTS"><use xlink:href="svg-icons/sprites/icons.svg#olymp-calendar-icon"></use></svg>
                        </a>
                    </li>
                    <li>
                        <a href="24-CommunityBadges.html">
                            <svg class="olymp-badge-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="Community Badges"><use xlink:href="svg-icons/sprites/icons.svg#olymp-badge-icon"></use></svg>
                        </a>
                    </li>
                    <li>
                        <a href="25-FriendsBirthday.html">
                            <svg class="olymp-cupcake-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="Friends Birthdays"><use xlink:href="svg-icons/sprites/icons.svg#olymp-cupcake-icon"></use></svg>
                        </a>
                    </li>
                    <li>
                        <a href="26-Statistics.html">
                            <svg class="olymp-stats-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="Account Stats"><use xlink:href="svg-icons/sprites/icons.svg#olymp-stats-icon"></use></svg>
                        </a>
                    </li>
                    <li>
                        <a href="27-ManageWidgets.html">
                            <svg class="olymp-manage-widgets-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="Manage Widgets"><use xlink:href="svg-icons/sprites/icons.svg#olymp-manage-widgets-icon"></use></svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    @RenderBody()



<!-- JS Scripts -->
<script src="~/Template3/js/jquery-3.2.1.js"></script>
<script src="~/Template3/js/jquery.appear.js"></script>




</body>
</html>